# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build
dist/
dist-ssr/

# Cache
.vite/
*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
